.order-history-container {
    padding: 20px;
    height: calc(100vh - 5rem);
    /* box-sizing: border-box; */
    background: linear-gradient(105deg, #000b14, #00243e);
    overflow-y: auto;       
}

.order-history-container h2 {
    color: #343a40;
    font-weight: 600;
}

.table {
    margin-top: 20px;
}


.table th {
    font-weight: 600;
    background-color: #06111d !important;
    color: white !important;
}

.table td {
    vertical-align: middle;
}

.badge {
    font-size: 0.85em;
    padding: 5px 8px;
}

@media (max-width: 760px) {
    .table-responsive {
        overflow-x : auto;
    }
    .table td, .table th {
        white-space: nowrap;
    }
}